@import "~bootstrap/dist/css/bootstrap.min.css";


.card {
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
  border-radius: 25px;
}

.card-img-top {
  background-color: rgb(3, 97, 97);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 300px;
}

.card-img-top:nth-of-type(1) {
  background-color: rgb(3, 97, 97);
}

.card-img-top:nth-of-type(2) {
  background-color: rgb(187, 184, 184);
}

.card-img-top:nth-of-type(3) {
  background-color: rgb(233, 177, 73);
}

.card-header {
  margin-top: 15px;
  font-size: larger;
  font-weight: 750;
  font-family: Arial, Helvetica, sans-serif;  
}

.card-text {
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.text {
  color: rgb(61, 60, 60);
  margin-left: 10px;
}
.botones {
  display: flex;
}

.avanzar-1 {
  width: 50px;
  margin-left: 185px;
  align-items: center;
  margin-bottom: 10px;

}

.avanzar {
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 10px;
}
.retroceder {
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: 130px;
  margin-bottom: 10px;
}
.retroceder-1 {
  width: 50px;
  margin-left: 185px;
  align-items: center;
  margin-bottom: 10px;
}

.boton-avanzar {
  color: rgb(75, 74, 74);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.boton-retroceder {
  width: 50px;
  height: 50px;
  cursor: pointer;
}




